.sectionLeft{
	float: left;
	width: 80%;
}

.sectionRight{
	float: right;
	width: 20%;
}

.scoreContainer{
	background-color: rgb(200,200,200, 0.6);
	width: 50%;
	padding: 10px;
	border-radius: 10px;
	font-size: 24px;
	font-weight: bold;
}

.clickerContainer img{
	position:relative;
	transition: all .2s ease-in-out;
}
.clickerContainer img:hover {transform: scale(1.1);}
.clickerContainer img:active {transform: scale(0.96);}

.shopButton{
	background-color: #b5b5b5;
	transition: all .2s ease-in-out;
	border-radius: 10px;
	width: 100%;
	margin: 10px 0px 10px 0px;
}
.shopButton:hover{
	background-color: #c7c7c7;
	transition: all .2s ease-in-out;
}
.shopButton #image{
	width:25%;
}
.shopButton img{
	height: 64px;
	width: 64px;
}
.shopButton #nameAndCost p{
	margin: 0px;
	width: 60%;
}
.shopButton #nameAndCost p:first-of-type {
	font-size: 24px;
}
.shopButton #amount{
	font-size: 48px;
	color: #595959;
	font-family: roboto;
	width: 15%;
}

.sectionFooter{
	margin-top: 20%;
	position: fixed;
  	left: 0;
  	bottom: 0;
	margin-left: 1%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-size: 30px;
}
.sectionFooter button,
.sectionFooter button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sectionFooter button {
  background: none;
  border: 0px;
  color: #0d8f0d;
  display: inline;
  font-size: 40px;
  font-weight: bold;
  padding: 6px;
  text-transform: uppercase;
}
.sectionFooter button::before,
.sectionFooter button::after {
  background: #fff;
  content: "";
  z-index: -1;
}
.sectionFooter button:hover {
	color:#ffffff;
}

#scoreKeeper{
	font-size: 40px;
  	font-weight: bold;
  	padding: 6px;
}

.unselectable{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img{
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#upgradeContainer img{
	height: 64px;
	width: 64px;
}

body { 
    background: url('images/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
	color:#0d8f0d;
	font-weight: bold;
}

.formContainer {
	display: inline-block;
	vertical-align: top;
  }
.formContainer form {
	display: inline-block;
}
